@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-text font-sans min-h-screen;
    background-color: #F2F4F6;
  }
}
